footer.footer
  .container
    .footer__container
      .logo.footer__logo
          a(href="#").logo__link
            img(src="img/logos/logo2.png", alt="").logo__image
      p.footer__text Трейдинг на финансовых рынках связан с существенными рисками, включая риск полной потери средств и другие затраты. Клиент должен самостоятельно и осознанно решить,<br> подходит ли ему этот вид деятельности, учитывая свои финансовые возможности, опыт в сфере инвестиций, склонность к риску и другие факторы. Любая информация, размещенная<br> на данном сайте, является рекомендацией общего характера.
      span.copy © Все права защищены! 2018г.