.home
  .container
    .home__container
      h2.home__title Возможно ли заработать на форексе?
      .home__content
        p.home__text Итак, ты принял решение попробовать себя в роли трейдера. Ты хочешь понять, с чего начать и как двигаться к успеху. Наш тест, поможет оценить уровнь твоей подготовки, и мы сможем предложить тебе оптимальный алгоритм действий. Мы поможем тебе не совершать ошибок!
        .home__video
          .home__video-frame
            iframe.video.lazy(data-src="https://www.youtube.com/embed/HyHNuVaZJ-k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="#").home__button Получить материалы
          