.home
  .container
    .home__container
      h2.home__title Возможно ли заработать на форексе?
      .home__content
        p.home__text Итак, ты принял решение попробовать себя в роли трейдера. Ты хочешь понять, с чего начать и как двигаться к успеху. Наш тест, поможет оценить уровнь твоей подготовки, и мы сможем предложить тебе оптимальный алгоритм действий. Мы поможем тебе не совершать ошибок!
        .home__video
          .home__video-frame
            iframe.video.lazy(data-src="https://www.youtube.com/embed/HyHNuVaZJ-k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          a(href="#").home__button Получить материалы
        .contacts
          .contacts__section.contacts__section_left
            .contacts__text
              span.contacts__title Алеся Иванова
              span.contacts__sub-title Консультант компании BitOpen
            a(href="#").contacts__consultant
              img(src="img/photo.png", alt="")
          .contacts__section.contacts__section_right
            ul.contacts__list
              li.contacts__item
                a(href="#").contacts__link.contacts__link_wapp
              li.contacts__item
                a(href="#").contacts__link.contacts__link_viber
              li.contacts__item
                a(href="#").contacts__link.contacts__link_telegram
              li.contacts__item
                a(href="#").contacts__link.contacts__link_fb
              li.contacts__item
                a(href="#").contacts__link.contacts__link_vk
              li.contacts__item
                a(href="#").contacts__link.contacts__link_chat
          